api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Go compiler distribution version"
  homepage = "https://github.com/paketo-buildpacks/go-dist"
  id = "paketo-buildpacks/go-dist"
  keywords = ["go", "distribution", "compiler"]
  name = "Paketo Buildpack for Go Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/go-dist/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"
  [metadata.default-versions]
    go = "1.25.*"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:f022b6aad78e362bcba9b0b94d09ad58c5a70c6ba3b7582905fababf5fe0181a"
    cpe = "cpe:2.3:a:golang:go:1.25.6:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.6?checksum=f022b6aad78e362bcba9b0b94d09ad58c5a70c6ba3b7582905fababf5fe0181a&download_url=https://go.dev/dl/go1.25.6.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.6.src.tar.gz"
    source-checksum = "sha256:58cbf771e44d76de6f56d19e33b77d745a1e489340922875e46585b975c2b059"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.6.linux-amd64.tar.gz"
    version = "1.25.6"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:738ef87d79c34272424ccdf83302b7b0300b8b096ed443896089306117943dd5"
    cpe = "cpe:2.3:a:golang:go:1.25.6:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.6?checksum=738ef87d79c34272424ccdf83302b7b0300b8b096ed443896089306117943dd5&download_url=https://go.dev/dl/go1.25.6.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.6.src.tar.gz"
    source-checksum = "sha256:58cbf771e44d76de6f56d19e33b77d745a1e489340922875e46585b975c2b059"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.6.linux-arm64.tar.gz"
    version = "1.25.6"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:12e6d6a191091ae27dc31f6efc630e3a3b8ba409baf3573d955b196fdf086005"
    cpe = "cpe:2.3:a:golang:go:1.25.7:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.7?checksum=12e6d6a191091ae27dc31f6efc630e3a3b8ba409baf3573d955b196fdf086005&download_url=https://go.dev/dl/go1.25.7.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.7.src.tar.gz"
    source-checksum = "sha256:178f2832820274b43e177d32f06a3ebb0129e427dd20a5e4c88df2c1763cf10a"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.7.linux-amd64.tar.gz"
    version = "1.25.7"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:ba611a53534135a81067240eff9508cd7e256c560edd5d8c2fef54f083c07129"
    cpe = "cpe:2.3:a:golang:go:1.25.7:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.7?checksum=ba611a53534135a81067240eff9508cd7e256c560edd5d8c2fef54f083c07129&download_url=https://go.dev/dl/go1.25.7.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.7.src.tar.gz"
    source-checksum = "sha256:178f2832820274b43e177d32f06a3ebb0129e427dd20a5e4c88df2c1763cf10a"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.7.linux-arm64.tar.gz"
    version = "1.25.7"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:aac1b08a0fb0c4e0a7c1555beb7b59180b05dfc5a3d62e40e9de90cd42f88235"
    cpe = "cpe:2.3:a:golang:go:1.26.0:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.26.0?checksum=aac1b08a0fb0c4e0a7c1555beb7b59180b05dfc5a3d62e40e9de90cd42f88235&download_url=https://go.dev/dl/go1.26.0.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.26.0.src.tar.gz"
    source-checksum = "sha256:c9132a8a1f6bd2aa4aad1d74b8231d95274950483a4950657ee6c56e6e817790"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.26.0.linux-amd64.tar.gz"
    version = "1.26.0"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:bd03b743eb6eb4193ea3c3fd3956546bf0e3ca5b7076c8226334afe6b75704cd"
    cpe = "cpe:2.3:a:golang:go:1.26.0:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.26.0?checksum=bd03b743eb6eb4193ea3c3fd3956546bf0e3ca5b7076c8226334afe6b75704cd&download_url=https://go.dev/dl/go1.26.0.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.26.0.src.tar.gz"
    source-checksum = "sha256:c9132a8a1f6bd2aa4aad1d74b8231d95274950483a4950657ee6c56e6e817790"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.26.0.linux-arm64.tar.gz"
    version = "1.26.0"

  [[metadata.dependency-constraints]]
    constraint = "1.25.*"
    id = "go"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.26.*"
    id = "go"
    patches = 2

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
