api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Go compiler distribution version"
  homepage = "https://github.com/paketo-buildpacks/go-dist"
  id = "paketo-buildpacks/go-dist"
  keywords = ["go", "distribution", "compiler"]
  name = "Paketo Buildpack for Go Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/go-dist/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"
  [metadata.default-versions]
    go = "1.24.*"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:dd52b974e3d9c5a7bbfb222c685806def6be5d6f7efd10f9caa9ca1fa2f47955"
    cpe = "cpe:2.3:a:golang:go:1.24.10:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.10?checksum=dd52b974e3d9c5a7bbfb222c685806def6be5d6f7efd10f9caa9ca1fa2f47955&download_url=https://go.dev/dl/go1.24.10.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.24.10.src.tar.gz"
    source-checksum = "sha256:34000dcc47a517b78fcf2657ee7d033328a57079fe60c4ed8b7b84260d1d19d3"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.10.linux-amd64.tar.gz"
    version = "1.24.10"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:94a99dae43dab8a3fe337485bbb89214b524285ec53ea02040514b0c2a9c3f94"
    cpe = "cpe:2.3:a:golang:go:1.24.10:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.10?checksum=94a99dae43dab8a3fe337485bbb89214b524285ec53ea02040514b0c2a9c3f94&download_url=https://go.dev/dl/go1.24.10.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.24.10.src.tar.gz"
    source-checksum = "sha256:34000dcc47a517b78fcf2657ee7d033328a57079fe60c4ed8b7b84260d1d19d3"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.10.linux-arm64.tar.gz"
    version = "1.24.10"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:bceca00afaac856bc48b4cc33db7cd9eb383c81811379faed3bdbc80edb0af65"
    cpe = "cpe:2.3:a:golang:go:1.24.11:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.11?checksum=bceca00afaac856bc48b4cc33db7cd9eb383c81811379faed3bdbc80edb0af65&download_url=https://go.dev/dl/go1.24.11.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.24.11.src.tar.gz"
    source-checksum = "sha256:ffdf97766a4c4b135cd53809713978e9ee1a943b2c8e28ad221a5429de30e210"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.11.linux-amd64.tar.gz"
    version = "1.24.11"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:beaf0f51cbe0bd71b8289b2b6fa96c0b11cd86aa58672691ef2f1de88eb621de"
    cpe = "cpe:2.3:a:golang:go:1.24.11:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.11?checksum=beaf0f51cbe0bd71b8289b2b6fa96c0b11cd86aa58672691ef2f1de88eb621de&download_url=https://go.dev/dl/go1.24.11.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.24.11.src.tar.gz"
    source-checksum = "sha256:ffdf97766a4c4b135cd53809713978e9ee1a943b2c8e28ad221a5429de30e210"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.11.linux-arm64.tar.gz"
    version = "1.24.11"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:9fa5ffeda4170de60f67f3aa0f824e426421ba724c21e133c1e35d6159ca1bec"
    cpe = "cpe:2.3:a:golang:go:1.25.4:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.4?checksum=9fa5ffeda4170de60f67f3aa0f824e426421ba724c21e133c1e35d6159ca1bec&download_url=https://go.dev/dl/go1.25.4.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.4.src.tar.gz"
    source-checksum = "sha256:160043b7f17b6d60b50369436917fda8d5034640ba39ae2431c6b95a889cc98c"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.4.linux-amd64.tar.gz"
    version = "1.25.4"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:a68e86d4b72c2c2fecf7dfed667680b6c2a071221bbdb6913cf83ce3f80d9ff0"
    cpe = "cpe:2.3:a:golang:go:1.25.4:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.4?checksum=a68e86d4b72c2c2fecf7dfed667680b6c2a071221bbdb6913cf83ce3f80d9ff0&download_url=https://go.dev/dl/go1.25.4.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.4.src.tar.gz"
    source-checksum = "sha256:160043b7f17b6d60b50369436917fda8d5034640ba39ae2431c6b95a889cc98c"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.4.linux-arm64.tar.gz"
    version = "1.25.4"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:9e9b755d63b36acf30c12a9a3fc379243714c1c6d3dd72861da637f336ebb35b"
    cpe = "cpe:2.3:a:golang:go:1.25.5:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.5?checksum=9e9b755d63b36acf30c12a9a3fc379243714c1c6d3dd72861da637f336ebb35b&download_url=https://go.dev/dl/go1.25.5.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.5.src.tar.gz"
    source-checksum = "sha256:22a5fd0a91efcd28a1b0537106b9959b2804b61f59c3758b51e8e5429c1a954f"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.5.linux-amd64.tar.gz"
    version = "1.25.5"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:b00b694903d126c588c378e72d3545549935d3982635ba3f7a964c9fa23fe3b9"
    cpe = "cpe:2.3:a:golang:go:1.25.5:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.5?checksum=b00b694903d126c588c378e72d3545549935d3982635ba3f7a964c9fa23fe3b9&download_url=https://go.dev/dl/go1.25.5.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.5.src.tar.gz"
    source-checksum = "sha256:22a5fd0a91efcd28a1b0537106b9959b2804b61f59c3758b51e8e5429c1a954f"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.5.linux-arm64.tar.gz"
    version = "1.25.5"

  [[metadata.dependency-constraints]]
    constraint = "1.24.*"
    id = "go"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.25.*"
    id = "go"
    patches = 2

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
