api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Go compiler distribution version"
  homepage = "https://github.com/paketo-buildpacks/go-dist"
  id = "paketo-buildpacks/go-dist"
  keywords = ["go", "distribution", "compiler"]
  name = "Paketo Buildpack for Go Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/go-dist/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"
  [metadata.default-versions]
    go = "1.24.*"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:5b7899591c2dd6e9da1809fde4a2fad842c45d3f6b9deb235ba82216e31e34a6"
    cpe = "cpe:2.3:a:golang:go:1.24.9:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.9?checksum=5b7899591c2dd6e9da1809fde4a2fad842c45d3f6b9deb235ba82216e31e34a6&download_url=https://go.dev/dl/go1.24.9.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.24.9.src.tar.gz"
    source-checksum = "sha256:c72f81ba54fe00efe7f3e7499d400979246881b13b775e9a9bb85541c11be695"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.9.linux-amd64.tar.gz"
    version = "1.24.9"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:9aa1243d51d41e2f93e895c89c0a2daf7166768c4a4c3ac79db81029d295a540"
    cpe = "cpe:2.3:a:golang:go:1.24.9:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.9?checksum=9aa1243d51d41e2f93e895c89c0a2daf7166768c4a4c3ac79db81029d295a540&download_url=https://go.dev/dl/go1.24.9.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.24.9.src.tar.gz"
    source-checksum = "sha256:c72f81ba54fe00efe7f3e7499d400979246881b13b775e9a9bb85541c11be695"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.9.linux-arm64.tar.gz"
    version = "1.24.9"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:dd52b974e3d9c5a7bbfb222c685806def6be5d6f7efd10f9caa9ca1fa2f47955"
    cpe = "cpe:2.3:a:golang:go:1.24.10:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.10?checksum=dd52b974e3d9c5a7bbfb222c685806def6be5d6f7efd10f9caa9ca1fa2f47955&download_url=https://go.dev/dl/go1.24.10.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.24.10.src.tar.gz"
    source-checksum = "sha256:34000dcc47a517b78fcf2657ee7d033328a57079fe60c4ed8b7b84260d1d19d3"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.10.linux-amd64.tar.gz"
    version = "1.24.10"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:94a99dae43dab8a3fe337485bbb89214b524285ec53ea02040514b0c2a9c3f94"
    cpe = "cpe:2.3:a:golang:go:1.24.10:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.10?checksum=94a99dae43dab8a3fe337485bbb89214b524285ec53ea02040514b0c2a9c3f94&download_url=https://go.dev/dl/go1.24.10.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.24.10.src.tar.gz"
    source-checksum = "sha256:34000dcc47a517b78fcf2657ee7d033328a57079fe60c4ed8b7b84260d1d19d3"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.10.linux-arm64.tar.gz"
    version = "1.24.10"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:0335f314b6e7bfe08c3d0cfaa7c19db961b7b99fb20be62b0a826c992ad14e0f"
    cpe = "cpe:2.3:a:golang:go:1.25.3:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.3?checksum=0335f314b6e7bfe08c3d0cfaa7c19db961b7b99fb20be62b0a826c992ad14e0f&download_url=https://go.dev/dl/go1.25.3.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.3.src.tar.gz"
    source-checksum = "sha256:a81a4ba593d0015e10c51e267de3ff07c7ac914dfca037d9517d029517097795"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.3.linux-amd64.tar.gz"
    version = "1.25.3"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:1d42ebc84999b5e2069f5e31b67d6fc5d67308adad3e178d5a2ee2c9ff2001f5"
    cpe = "cpe:2.3:a:golang:go:1.25.3:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.3?checksum=1d42ebc84999b5e2069f5e31b67d6fc5d67308adad3e178d5a2ee2c9ff2001f5&download_url=https://go.dev/dl/go1.25.3.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.3.src.tar.gz"
    source-checksum = "sha256:a81a4ba593d0015e10c51e267de3ff07c7ac914dfca037d9517d029517097795"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.3.linux-arm64.tar.gz"
    version = "1.25.3"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:9fa5ffeda4170de60f67f3aa0f824e426421ba724c21e133c1e35d6159ca1bec"
    cpe = "cpe:2.3:a:golang:go:1.25.4:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.4?checksum=9fa5ffeda4170de60f67f3aa0f824e426421ba724c21e133c1e35d6159ca1bec&download_url=https://go.dev/dl/go1.25.4.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.4.src.tar.gz"
    source-checksum = "sha256:160043b7f17b6d60b50369436917fda8d5034640ba39ae2431c6b95a889cc98c"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.4.linux-amd64.tar.gz"
    version = "1.25.4"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:a68e86d4b72c2c2fecf7dfed667680b6c2a071221bbdb6913cf83ce3f80d9ff0"
    cpe = "cpe:2.3:a:golang:go:1.25.4:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.4?checksum=a68e86d4b72c2c2fecf7dfed667680b6c2a071221bbdb6913cf83ce3f80d9ff0&download_url=https://go.dev/dl/go1.25.4.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.4.src.tar.gz"
    source-checksum = "sha256:160043b7f17b6d60b50369436917fda8d5034640ba39ae2431c6b95a889cc98c"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.4.linux-arm64.tar.gz"
    version = "1.25.4"

  [[metadata.dependency-constraints]]
    constraint = "1.24.*"
    id = "go"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.25.*"
    id = "go"
    patches = 2

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
