api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Go compiler distribution version"
  homepage = "https://github.com/paketo-buildpacks/go-dist"
  id = "paketo-buildpacks/go-dist"
  keywords = ["go", "distribution", "compiler"]
  name = "Paketo Buildpack for Go Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/go-dist/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    go = "1.20.*"

  [[metadata.dependencies]]
    checksum = "sha256:9a9d3dcae2b6a638b1f2e9bd4db08ffb39c10e55d9696914002742d90f0047b5"
    cpe = "cpe:2.3:a:golang:go:1.20.13:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.20.13?checksum=9a9d3dcae2b6a638b1f2e9bd4db08ffb39c10e55d9696914002742d90f0047b5&download_url=https://go.dev/dl/go1.20.13.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.20.13.src.tar.gz"
    source-checksum = "sha256:0fe745c530f2f1d67193af3c5ea25246be077989ec5178df266e975f3532449e"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.20.13.linux-amd64.tar.gz"
    version = "1.20.13"

  [[metadata.dependencies]]
    checksum = "sha256:ff445e48af27f93f66bd949ae060d97991c83e11289009d311f25426258f9c44"
    cpe = "cpe:2.3:a:golang:go:1.20.14:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.20.14?checksum=ff445e48af27f93f66bd949ae060d97991c83e11289009d311f25426258f9c44&download_url=https://go.dev/dl/go1.20.14.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.20.14.src.tar.gz"
    source-checksum = "sha256:1aef321a0e3e38b7e91d2d7eb64040666cabdcc77d383de3c9522d0d69b67f4e"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.20.14.linux-amd64.tar.gz"
    version = "1.20.14"

  [[metadata.dependencies]]
    checksum = "sha256:3f934f40ac360b9c01f616a9aa1796d227d8b0328bf64cb045c7b8c4ee9caea4"
    cpe = "cpe:2.3:a:golang:go:1.21.6:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.21.6?checksum=3f934f40ac360b9c01f616a9aa1796d227d8b0328bf64cb045c7b8c4ee9caea4&download_url=https://go.dev/dl/go1.21.6.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.21.6.src.tar.gz"
    source-checksum = "sha256:124926a62e45f78daabbaedb9c011d97633186a33c238ffc1e25320c02046248"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.21.6.linux-amd64.tar.gz"
    version = "1.21.6"

  [[metadata.dependencies]]
    checksum = "sha256:13b76a9b2a26823e53062fa841b07087d48ae2ef2936445dc34c4ae03293702c"
    cpe = "cpe:2.3:a:golang:go:1.21.7:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.21.7?checksum=13b76a9b2a26823e53062fa841b07087d48ae2ef2936445dc34c4ae03293702c&download_url=https://go.dev/dl/go1.21.7.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.21.7.src.tar.gz"
    source-checksum = "sha256:00197ab20f33813832bff62fd93cca1c42a08cc689a32a6672ca49591959bff6"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.21.7.linux-amd64.tar.gz"
    version = "1.21.7"

  [[metadata.dependency-constraints]]
    constraint = "1.21.*"
    id = "go"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.22.*"
    id = "go"
    patches = 2


[[stacks]]
  id = "*"
