
[buildpack]
id = "org.cloudfoundry.go"
name = "Go Buildpack"
version = "{{ .Version }}"

[metadata]
include_files = ["bin/build","bin/detect","buildpack.toml","go.mod","go.sum"]
pre_package = "./scripts/build.sh"

[metadata.default-versions]
go = "1.12.*"

[[metadata.dependencies]]
id = "go"
name = "Go"
sha256 = "2fd47b824d6e32154b0f6c8742d066d816667715763e06cebb710304b195c775"
stacks = ["io.buildpacks.stacks.bionic"]
uri = "https://dl.google.com/go/go1.11.11.linux-amd64.tar.gz"
version = "1.11.11"

[[metadata.dependencies]]
id = "go"
sha256 = "969fcee0e6d7b334b39671b59de13ed8069589c213ca766a2ee38e33d822372f"
source = "https://dl.google.com/go/go1.11.11.src.tar.gz"
source_sha256 = "1fff7c33ef2522e6dfaf6ab96ec4c2a8b76d018aae6fc88ce2bd40f2202d0f8c"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/go/go1.11.11.linux-amd64-cflinuxfs3-969fcee0.tar.gz"
version = "1.11.11"

[[metadata.dependencies]]
id = "go"
name = "Go"
sha256 = "8843ca9b607f85020f91d2c08fa1e43fcf77a2be8ea2750c043800f0751a74d9"
source = "https://dl.google.com/go/go1.11.12.src.tar.gz"
source_sha256 = "6d7a5ba05476609a7614af3292f29c3be06327503c1f1fdc02ef417870fd6926"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/go/go1.11.12.linux-amd64-cflinuxfs3-8843ca9b.tar.gz"
version = "1.11.12"

[[metadata.dependencies]]
id = "go"
name = "Go"
sha256 = "dbcf71a3c1ea53b8d54ef1b48c85a39a6c9a935d01fc8291ff2b92028e59913c"
stacks = ["io.buildpacks.stacks.bionic"]
uri = "https://dl.google.com/go/go1.12.6.linux-amd64.tar.gz"
version = "1.12.6"

[[metadata.dependencies]]
id = "go"
name = "Go"
sha256 = "dbcf71a3c1ea53b8d54ef1b48c85a39a6c9a935d01fc8291ff2b92028e59913c"
stacks = ["io.buildpacks.stacks.bionic"]
uri = "https://dl.google.com/go/go1.12.6.linux-amd64.tar.gz"
version = "1.12.6"

[[metadata.dependencies]]
id = "go"
sha256 = "f67ab420493b30d0d4f0d36a7526169c93de55ae5cf8ceb73c7647a252fcf0f2"
source = "https://dl.google.com/go/go1.12.6.src.tar.gz"
source_sha256 = "c96c5ccc7455638ae1a8b7498a030fe653731c8391c5f8e79590bce72f92b4ca"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/go/go1.12.6.linux-amd64-cflinuxfs3-f67ab420.tar.gz"
version = "1.12.6"

[[metadata.dependencies]]
id = "go"
name = "Go"
sha256 = "040d6b6f34a246e08468d32fa47fd5f5088aea72ed9dd441c9c5b4922b596cc9"
source = "https://dl.google.com/go/go1.12.7.src.tar.gz"
source_sha256 = "95e8447d6f04b8d6a62de1726defbb20ab203208ee167ed15f83d7978ce43b13"
stacks = ["org.cloudfoundry.stacks.cflinuxfs3"]
uri = "https://buildpacks.cloudfoundry.org/dependencies/go/go1.12.7.linux-amd64-cflinuxfs3-040d6b6f.tar.gz"
version = "1.12.7"

[[metadata.dependency_deprecation_dates]]
date = 2019-08-01T00:00:00Z
link = "https://golang.org/doc/devel/release.html"
name = "go"
version_line = "1.11.x"

[[metadata.dependency_deprecation_dates]]
date = 2020-02-01T00:00:00Z
link = "https://golang.org/doc/devel/release.html"
name = "go"
version_line = "1.12.x"

[[stacks]]
id = "org.cloudfoundry.stacks.cflinuxfs3"

[[stacks]]
id = "io.buildpacks.stacks.bionic"
