api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Go compiler distribution version"
  homepage = "https://github.com/paketo-buildpacks/go-dist"
  id = "paketo-buildpacks/go-dist"
  keywords = ["go", "distribution", "compiler"]
  name = "Paketo Buildpack for Go Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/go-dist/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    go = "1.22.*"

  [[metadata.dependencies]]
    checksum = "sha256:0fc88d966d33896384fbde56e9a8d80a305dc17a9f48f1832e061724b1719991"
    cpe = "cpe:2.3:a:golang:go:1.22.11:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.22.11?checksum=0fc88d966d33896384fbde56e9a8d80a305dc17a9f48f1832e061724b1719991&download_url=https://go.dev/dl/go1.22.11.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.22.11.src.tar.gz"
    source-checksum = "sha256:a60c23dec95d10a2576265ce580f57869d5ac2471c4f4aca805addc9ea0fc9fe"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.22.11.linux-amd64.tar.gz"
    version = "1.22.11"

  [[metadata.dependencies]]
    checksum = "sha256:4fa4f869b0f7fc6bb1eb2660e74657fbf04cdd290b5aef905585c86051b34d43"
    cpe = "cpe:2.3:a:golang:go:1.22.12:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.22.12?checksum=4fa4f869b0f7fc6bb1eb2660e74657fbf04cdd290b5aef905585c86051b34d43&download_url=https://go.dev/dl/go1.22.12.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.22.12.src.tar.gz"
    source-checksum = "sha256:012a7e1f37f362c0918c1dfa3334458ac2da1628c4b9cf4d9ca02db986e17d71"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.22.12.linux-amd64.tar.gz"
    version = "1.22.12"

  [[metadata.dependencies]]
    checksum = "sha256:9379441ea310de000f33a4dc767bd966e72ab2826270e038e78b2c53c2e7802d"
    cpe = "cpe:2.3:a:golang:go:1.23.6:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.23.6?checksum=9379441ea310de000f33a4dc767bd966e72ab2826270e038e78b2c53c2e7802d&download_url=https://go.dev/dl/go1.23.6.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.23.6.src.tar.gz"
    source-checksum = "sha256:039c5b04e65279daceee8a6f71e70bd05cf5b801782b6f77c6e19e2ed0511222"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.23.6.linux-amd64.tar.gz"
    version = "1.23.6"

  [[metadata.dependencies]]
    checksum = "sha256:4741525e69841f2e22f9992af25df0c1112b07501f61f741c12c6389fcb119f3"
    cpe = "cpe:2.3:a:golang:go:1.23.7:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.23.7?checksum=4741525e69841f2e22f9992af25df0c1112b07501f61f741c12c6389fcb119f3&download_url=https://go.dev/dl/go1.23.7.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.23.7.src.tar.gz"
    source-checksum = "sha256:7cfabd46b73eb4c26b19d69515dd043d7183a6559acccd5cfdb25eb6b266a458"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.23.7.linux-amd64.tar.gz"
    version = "1.23.7"

  [[metadata.dependency-constraints]]
    constraint = "1.22.*"
    id = "go"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.23.*"
    id = "go"
    patches = 2

[[stacks]]
  id = "*"
