api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Go compiler distribution version"
  homepage = "https://github.com/paketo-buildpacks/go-dist"
  id = "paketo-buildpacks/go-dist"
  keywords = ["go", "distribution", "compiler"]
  name = "Paketo Buildpack for Go Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/go-dist/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"
  [metadata.default-versions]
    go = "1.24.*"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:bddf8e653c82429aea7aec2520774e79925d4bb929fe20e67ecc00dd5af44c50"
    cpe = "cpe:2.3:a:golang:go:1.24.12:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.12?checksum=bddf8e653c82429aea7aec2520774e79925d4bb929fe20e67ecc00dd5af44c50&download_url=https://go.dev/dl/go1.24.12.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.24.12.src.tar.gz"
    source-checksum = "sha256:fba2dd661b7be7b34d6bd17ed92f41c44a5e05953ad81ab34b4ec780e5e7dc41"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.12.linux-amd64.tar.gz"
    version = "1.24.12"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:4e02e2979e53b40f3666bba9f7e5ea0b99ea5156e0824b343fd054742c25498d"
    cpe = "cpe:2.3:a:golang:go:1.24.12:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.12?checksum=4e02e2979e53b40f3666bba9f7e5ea0b99ea5156e0824b343fd054742c25498d&download_url=https://go.dev/dl/go1.24.12.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.24.12.src.tar.gz"
    source-checksum = "sha256:fba2dd661b7be7b34d6bd17ed92f41c44a5e05953ad81ab34b4ec780e5e7dc41"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.12.linux-arm64.tar.gz"
    version = "1.24.12"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:1fc94b57134d51669c72173ad5d49fd62afb0f1db9bf3f798fd98ee423f8d730"
    cpe = "cpe:2.3:a:golang:go:1.24.13:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.13?checksum=1fc94b57134d51669c72173ad5d49fd62afb0f1db9bf3f798fd98ee423f8d730&download_url=https://go.dev/dl/go1.24.13.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.24.13.src.tar.gz"
    source-checksum = "sha256:639a6204c2486b137df1eb6e78ee3ed038f9877d0e4b5a465e796a2153f858d7"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.13.linux-amd64.tar.gz"
    version = "1.24.13"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:74d97be1cc3a474129590c67ebf748a96e72d9f3a2b6fef3ed3275de591d49b3"
    cpe = "cpe:2.3:a:golang:go:1.24.13:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.13?checksum=74d97be1cc3a474129590c67ebf748a96e72d9f3a2b6fef3ed3275de591d49b3&download_url=https://go.dev/dl/go1.24.13.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.24.13.src.tar.gz"
    source-checksum = "sha256:639a6204c2486b137df1eb6e78ee3ed038f9877d0e4b5a465e796a2153f858d7"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.13.linux-arm64.tar.gz"
    version = "1.24.13"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:f022b6aad78e362bcba9b0b94d09ad58c5a70c6ba3b7582905fababf5fe0181a"
    cpe = "cpe:2.3:a:golang:go:1.25.6:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.6?checksum=f022b6aad78e362bcba9b0b94d09ad58c5a70c6ba3b7582905fababf5fe0181a&download_url=https://go.dev/dl/go1.25.6.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.6.src.tar.gz"
    source-checksum = "sha256:58cbf771e44d76de6f56d19e33b77d745a1e489340922875e46585b975c2b059"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.6.linux-amd64.tar.gz"
    version = "1.25.6"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:738ef87d79c34272424ccdf83302b7b0300b8b096ed443896089306117943dd5"
    cpe = "cpe:2.3:a:golang:go:1.25.6:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.6?checksum=738ef87d79c34272424ccdf83302b7b0300b8b096ed443896089306117943dd5&download_url=https://go.dev/dl/go1.25.6.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.6.src.tar.gz"
    source-checksum = "sha256:58cbf771e44d76de6f56d19e33b77d745a1e489340922875e46585b975c2b059"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.6.linux-arm64.tar.gz"
    version = "1.25.6"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:12e6d6a191091ae27dc31f6efc630e3a3b8ba409baf3573d955b196fdf086005"
    cpe = "cpe:2.3:a:golang:go:1.25.7:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.7?checksum=12e6d6a191091ae27dc31f6efc630e3a3b8ba409baf3573d955b196fdf086005&download_url=https://go.dev/dl/go1.25.7.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.7.src.tar.gz"
    source-checksum = "sha256:178f2832820274b43e177d32f06a3ebb0129e427dd20a5e4c88df2c1763cf10a"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.7.linux-amd64.tar.gz"
    version = "1.25.7"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:ba611a53534135a81067240eff9508cd7e256c560edd5d8c2fef54f083c07129"
    cpe = "cpe:2.3:a:golang:go:1.25.7:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.7?checksum=ba611a53534135a81067240eff9508cd7e256c560edd5d8c2fef54f083c07129&download_url=https://go.dev/dl/go1.25.7.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.7.src.tar.gz"
    source-checksum = "sha256:178f2832820274b43e177d32f06a3ebb0129e427dd20a5e4c88df2c1763cf10a"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.7.linux-arm64.tar.gz"
    version = "1.25.7"

  [[metadata.dependency-constraints]]
    constraint = "1.24.*"
    id = "go"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.25.*"
    id = "go"
    patches = 2

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
