api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Go compiler distribution version"
  homepage = "https://github.com/paketo-buildpacks/go-dist"
  id = "paketo-buildpacks/go-dist"
  keywords = ["go", "distribution", "compiler"]
  name = "Paketo Buildpack for Go Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/go-dist/blob/main/LICENSE"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    go = "1.20.*"

  [[metadata.dependencies]]
    checksum = "sha256:3f934f40ac360b9c01f616a9aa1796d227d8b0328bf64cb045c7b8c4ee9caea4"
    cpe = "cpe:2.3:a:golang:go:1.21.6:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.21.6?checksum=3f934f40ac360b9c01f616a9aa1796d227d8b0328bf64cb045c7b8c4ee9caea4&download_url=https://go.dev/dl/go1.21.6.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.21.6.src.tar.gz"
    source-checksum = "sha256:124926a62e45f78daabbaedb9c011d97633186a33c238ffc1e25320c02046248"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.21.6.linux-amd64.tar.gz"
    version = "1.21.6"

  [[metadata.dependencies]]
    checksum = "sha256:13b76a9b2a26823e53062fa841b07087d48ae2ef2936445dc34c4ae03293702c"
    cpe = "cpe:2.3:a:golang:go:1.21.7:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.21.7?checksum=13b76a9b2a26823e53062fa841b07087d48ae2ef2936445dc34c4ae03293702c&download_url=https://go.dev/dl/go1.21.7.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.21.7.src.tar.gz"
    source-checksum = "sha256:00197ab20f33813832bff62fd93cca1c42a08cc689a32a6672ca49591959bff6"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.21.7.linux-amd64.tar.gz"
    version = "1.21.7"

  [[metadata.dependencies]]
    checksum = "sha256:f6c8a87aa03b92c4b0bf3d558e28ea03006eb29db78917daec5cfb6ec1046265"
    cpe = "cpe:2.3:a:golang:go:1.22.0:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    purl = "pkg:generic/go@go1.22.0?checksum=f6c8a87aa03b92c4b0bf3d558e28ea03006eb29db78917daec5cfb6ec1046265&download_url=https://go.dev/dl/go1.22.0.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.22.0.src.tar.gz"
    source-checksum = "sha256:4d196c3d41a0d6c1dfc64d04e3cc1f608b0c436bd87b7060ce3e23234e1f4d5c"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.22.0.linux-amd64.tar.gz"
    version = "1.22.0"

  [[metadata.dependency-constraints]]
    constraint = "1.21.*"
    id = "go"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.22.*"
    id = "go"
    patches = 2

[[stacks]]
  id = "*"
