api = "0.7"

[buildpack]
  description = "A buildpack for installing the appropriate Go compiler distribution version"
  homepage = "https://github.com/paketo-buildpacks/go-dist"
  id = "paketo-buildpacks/go-dist"
  keywords = ["go", "distribution", "compiler"]
  name = "Paketo Buildpack for Go Distribution"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/go-dist/blob/main/LICENSE"

[metadata]
  include-files = ["buildpack.toml", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/run", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/run"]
  pre-package = "./scripts/build.sh --target linux/amd64 --target linux/arm64"
  [metadata.default-versions]
    go = "1.24.*"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:bceca00afaac856bc48b4cc33db7cd9eb383c81811379faed3bdbc80edb0af65"
    cpe = "cpe:2.3:a:golang:go:1.24.11:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.11?checksum=bceca00afaac856bc48b4cc33db7cd9eb383c81811379faed3bdbc80edb0af65&download_url=https://go.dev/dl/go1.24.11.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.24.11.src.tar.gz"
    source-checksum = "sha256:ffdf97766a4c4b135cd53809713978e9ee1a943b2c8e28ad221a5429de30e210"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.11.linux-amd64.tar.gz"
    version = "1.24.11"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:beaf0f51cbe0bd71b8289b2b6fa96c0b11cd86aa58672691ef2f1de88eb621de"
    cpe = "cpe:2.3:a:golang:go:1.24.11:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.11?checksum=beaf0f51cbe0bd71b8289b2b6fa96c0b11cd86aa58672691ef2f1de88eb621de&download_url=https://go.dev/dl/go1.24.11.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.24.11.src.tar.gz"
    source-checksum = "sha256:ffdf97766a4c4b135cd53809713978e9ee1a943b2c8e28ad221a5429de30e210"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.11.linux-arm64.tar.gz"
    version = "1.24.11"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:bddf8e653c82429aea7aec2520774e79925d4bb929fe20e67ecc00dd5af44c50"
    cpe = "cpe:2.3:a:golang:go:1.24.12:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.12?checksum=bddf8e653c82429aea7aec2520774e79925d4bb929fe20e67ecc00dd5af44c50&download_url=https://go.dev/dl/go1.24.12.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.24.12.src.tar.gz"
    source-checksum = "sha256:fba2dd661b7be7b34d6bd17ed92f41c44a5e05953ad81ab34b4ec780e5e7dc41"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.12.linux-amd64.tar.gz"
    version = "1.24.12"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:4e02e2979e53b40f3666bba9f7e5ea0b99ea5156e0824b343fd054742c25498d"
    cpe = "cpe:2.3:a:golang:go:1.24.12:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.24.12?checksum=4e02e2979e53b40f3666bba9f7e5ea0b99ea5156e0824b343fd054742c25498d&download_url=https://go.dev/dl/go1.24.12.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.24.12.src.tar.gz"
    source-checksum = "sha256:fba2dd661b7be7b34d6bd17ed92f41c44a5e05953ad81ab34b4ec780e5e7dc41"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.24.12.linux-arm64.tar.gz"
    version = "1.24.12"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:9e9b755d63b36acf30c12a9a3fc379243714c1c6d3dd72861da637f336ebb35b"
    cpe = "cpe:2.3:a:golang:go:1.25.5:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.5?checksum=9e9b755d63b36acf30c12a9a3fc379243714c1c6d3dd72861da637f336ebb35b&download_url=https://go.dev/dl/go1.25.5.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.5.src.tar.gz"
    source-checksum = "sha256:22a5fd0a91efcd28a1b0537106b9959b2804b61f59c3758b51e8e5429c1a954f"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.5.linux-amd64.tar.gz"
    version = "1.25.5"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:b00b694903d126c588c378e72d3545549935d3982635ba3f7a964c9fa23fe3b9"
    cpe = "cpe:2.3:a:golang:go:1.25.5:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.5?checksum=b00b694903d126c588c378e72d3545549935d3982635ba3f7a964c9fa23fe3b9&download_url=https://go.dev/dl/go1.25.5.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.5.src.tar.gz"
    source-checksum = "sha256:22a5fd0a91efcd28a1b0537106b9959b2804b61f59c3758b51e8e5429c1a954f"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.5.linux-arm64.tar.gz"
    version = "1.25.5"

  [[metadata.dependencies]]
    arch = "amd64"
    checksum = "sha256:f022b6aad78e362bcba9b0b94d09ad58c5a70c6ba3b7582905fababf5fe0181a"
    cpe = "cpe:2.3:a:golang:go:1.25.6:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.6?checksum=f022b6aad78e362bcba9b0b94d09ad58c5a70c6ba3b7582905fababf5fe0181a&download_url=https://go.dev/dl/go1.25.6.linux-amd64.tar.gz"
    source = "https://go.dev/dl/go1.25.6.src.tar.gz"
    source-checksum = "sha256:58cbf771e44d76de6f56d19e33b77d745a1e489340922875e46585b975c2b059"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.6.linux-amd64.tar.gz"
    version = "1.25.6"

  [[metadata.dependencies]]
    arch = "arm64"
    checksum = "sha256:738ef87d79c34272424ccdf83302b7b0300b8b096ed443896089306117943dd5"
    cpe = "cpe:2.3:a:golang:go:1.25.6:*:*:*:*:*:*:*"
    id = "go"
    licenses = ["BSD-3-Clause"]
    name = "Go"
    os = "linux"
    purl = "pkg:generic/go@go1.25.6?checksum=738ef87d79c34272424ccdf83302b7b0300b8b096ed443896089306117943dd5&download_url=https://go.dev/dl/go1.25.6.linux-arm64.tar.gz"
    source = "https://go.dev/dl/go1.25.6.src.tar.gz"
    source-checksum = "sha256:58cbf771e44d76de6f56d19e33b77d745a1e489340922875e46585b975c2b059"
    stacks = ["*"]
    strip-components = 1
    uri = "https://go.dev/dl/go1.25.6.linux-arm64.tar.gz"
    version = "1.25.6"

  [[metadata.dependency-constraints]]
    constraint = "1.24.*"
    id = "go"
    patches = 2

  [[metadata.dependency-constraints]]
    constraint = "1.25.*"
    id = "go"
    patches = 2

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
