api = "0.5"

[buildpack]
  id = "paketo-buildpacks/go-dist"
  name = "Paketo Go Distribution Buildpack"
  homepage = "https://github.com/paketo-buildpacks/go-dist"

[metadata]
  include-files = ["bin/run", "bin/build", "bin/detect", "buildpack.toml", "go.mod", "go.sum"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    go = "1.16.*"

  [[metadata.dependencies]]
    deprecation_date = "2021-08-11T00:00:00Z"
    id = "go"
    name = "Go"
    sha256 = "31eefdc6e2dc842cfdc926796e23f6ff1e6b4de7ec1b6a0dceed580344ec612c"
    source = "https://dl.google.com/go/go1.15.12.src.tar.gz"
    source_sha256 = "1c6911937df4a277fa74e7b7efc3d08594498c4c4adc0b6c4ae3566137528091"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/go/go_1.15.12_linux_x64_cflinuxfs3_31eefdc6.tgz"
    version = "1.15.12"

  [[metadata.dependencies]]
    deprecation_date = "2021-08-11T00:00:00Z"
    id = "go"
    name = "Go"
    sha256 = "00ece517309ca6b7947ff289377f7688f6d324d780c595adee5e11478f437bef"
    source = "https://dl.google.com/go/go1.15.13.src.tar.gz"
    source_sha256 = "99069e7223479cce4553f84f874b9345f6f4045f27cf5089489b546da619a244"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/go/go_1.15.13_linux_x64_cflinuxfs3_00ece517.tgz"
    version = "1.15.13"

  [[metadata.dependencies]]
    id = "go"
    name = "Go"
    sha256 = "89520cb99f93060a3cf2598456c676d24377edbf9d3af524b939f6bf0ce6b6b9"
    source = "https://dl.google.com/go/go1.16.5.src.tar.gz"
    source_sha256 = "7bfa7e5908c7cc9e75da5ddf3066d7cbcf3fd9fa51945851325eebc17f50ba80"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/go/go_1.16.5_linux_x64_cflinuxfs3_89520cb9.tgz"
    version = "1.16.5"

  [[metadata.dependencies]]
    id = "go"
    name = "Go"
    sha256 = "7f9ac238a6adfd8bdc0efb7e0b320416c397ee752e281f78950f6881e77e0edb"
    source = "https://dl.google.com/go/go1.16.6.src.tar.gz"
    source_sha256 = "a3a5d4bc401b51db065e4f93b523347a4d343ae0c0b08a65c3423b05a138037d"
    stacks = ["io.buildpacks.stacks.bionic", "io.paketo.stacks.tiny", "org.cloudfoundry.stacks.cflinuxfs3"]
    uri = "https://buildpacks.cloudfoundry.org/dependencies/go/go_1.16.6_linux_x64_cflinuxfs3_7f9ac238.tgz"
    version = "1.16.6"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"

[[stacks]]
  id = "io.paketo.stacks.tiny"

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"
