name: Update dependencies

on:
  schedule:
  - cron: '*/15 * * * *'
  workflow_dispatch: {}

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    name: Update dependencies
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Checkout Branch
      uses: paketo-buildpacks/github-config/actions/pull-request/checkout-branch@main
      with:
        branch: automation/dependencies/update

    - name: Update dependencies
      uses: paketo-buildpacks/github-config/actions/dependency/update@main

    - name: Commit
      id: commit
      uses: paketo-buildpacks/github-config/actions/pull-request/create-commit@main
      with:
        message: "Updating dependencies in buildpack.toml"
        pathspec: "."
        keyid: ${{ secrets.PAKETO_BOT_GPG_SIGNING_KEY_ID }}
        key: ${{ secrets.PAKETO_BOT_GPG_SIGNING_KEY }}

    - name: Push Branch
      if: ${{ steps.commit.outputs.commit_sha != '' }}
      uses: paketo-buildpacks/github-config/actions/pull-request/push-branch@main
      with:
        branch: automation/dependencies/update

    - name: Open Pull Request
      if: ${{ steps.commit.outputs.commit_sha != '' }}
      uses: paketo-buildpacks/github-config/actions/pull-request/open@main
      with:
        token: ${{ secrets.PAKETO_BOT_GITHUB_TOKEN }}
        title: "Updates dependencies in buildpack.toml"
        branch: automation/dependencies/update
